@font-face {
   font-family: 'BattleName';
   src: url('./fonts/mars-needs-cunnilingus.woff');
}

@font-face {
   font-family: 'BattleDialogue';
   src: url('./fonts/dotumche-pixel.woff');
}

@font-face {
   font-family: 'Dialogue';
   src: url('./fonts/determination-mono.woff');
}

@font-face {
   font-family: 'Menu';
   src: url('./fonts/determination-sans.woff');
}

@font-face {
   font-family: 'Stat';
   src: url('./fonts/crypt-of-tomorrow.woff');
}

@font-face {
   font-family: 'Sans';
   src: url('./fonts/comic-sans.woff');
}

html {
   height: 100%;
}

body {
   background-color: black;
}

body,
#splash {
   height: 100%;
   margin: 0;
   width: 100%;
}

#splash {
   background-image: url('./splash.png');
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: contain;
}
